@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: base-100;
}

.project-card {
  height: 300px; /* Adjust the height as needed */
  width: 100%; /* This will make the width adjust to the grid layout */
}

.project-card img {
  object-fit: cover; /* This ensures images cover the area without stretching */
  height: 100%; /* Match height of the card */
  width: 100%; /* Match width of the card */
}